# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: vps-01_django-service-desk
    metrics_path: '/metrics'
    static_configs:
      - targets: ['127.0.0.1:8000']
        labels:
          hostname: vps-01

#  - job_name: vps-01_django-ergobhp
#    metrics_path: '/metrics'
#    static_configs:
#      - targets: ['127.0.0.1:8001']
#       labels:
#         hostname: vps-01

  - job_name: vps-01_node-exporter
    static_configs:
      - targets: ['127.0.0.1:9100']
        labels:
          hostname: vps-01

  - job_name: vps-01_mysql-exporter
    static_configs:
      - targets: ['127.0.0.1:9104']
        labels:
          hostname: vps-01
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9104

  - job_name: vps-01_postgres_exporter
    static_configs:
      - targets: ['127.0.0.1:9187']
        labels:
          hostname: vps-01
    metric_relabel_configs:
    - source_labels: [datname]
      regex: 'template[0-9]{1}'
      action: drop

  - job_name: vps-01_process_exporter
    static_configs:
      - targets: ['127.0.0.1:9256']
        labels:
          hostname: vps-01

  - job_name: 'smtp_status_tls'
    metrics_path: /probe
    params:
      module: [smtp_starttls]
    static_configs:
      - targets: ['mail.siedlaczek.org.pl']
        labels:
          hostname: vps-01
    relabel_configs:
      # Ensure port is 25, pass as URL parameter
      - source_labels: [__address__]
        regex: (.*)(:.*)?
        replacement: ${1}:587
        target_label: __param_target
      # Make instance label the target
      - source_labels: [__param_target]
        target_label: instance
      # Actually talk to the blackbox exporter though
      - target_label: __address__
        replacement: 127.0.0.1:9116

  - job_name: 'smtp_status'
    metrics_path: /probe
    params:
      module: [smtp_banner]
    static_configs:
      - targets: ['mail.siedlaczek.org.pl']
        labels:
          hostname: vps-01
    relabel_configs:
      # Ensure port is 25, pass as URL parameter
      - source_labels: [__address__]
        regex: (.*)(:.*)?
        replacement: ${1}:25
        target_label: __param_target
      # Make instance label the target
      - source_labels: [__param_target]
        target_label: instance
      # Actually talk to the blackbox exporter though
      - target_label: __address__
        replacement: 127.0.0.1:9116

# homelab-pi

  - job_name: homelab-pi_node_exporter
    static_configs:
      - targets: ['78.10.222.152:9100']
        labels:
          hostname: homelab-pi

  - job_name: homelab-pi_process_exporter
    static_configs:
      - targets: ['78.10.222.152:9256']
        labels:
          hostname: homelab-pi

  - job_name: homelab-pi_postgres_exporter
    static_configs:
      - targets: ['78.10.222.152:9187']
        labels:
          hostname: homelab-pi
    metric_relabel_configs:
    - source_labels: [datname]
      regex: 'template[0-9]{1}'
      action: drop