global:
  scrape_interval: 15s
  evaluation_interval: 15s

#alerting:
#  alertmanagers:
#    - static_configs:
#        - targets:
#           - alertmanager:9093

#rule_files:
#   - "first_rules.yml"
#   - "second_rules.yml"

scrape_configs:
  - job_name: django-service-desk
    metrics_path: /proxy
    params:
      module:
        - service-desk
    static_configs:
      - targets:
          - 'vps-01:9999'
    relabel_configs:
      - source_labels: [ __address__ ]
        regex: '(.*):.*'
        replacement: $1
        target_label: hostname

  - job_name: postgres_exporter
    metrics_path: /proxy
    params:
      module:
        - postgres
    static_configs:
      - targets:
          - 'vps-01:9999'
    relabel_configs:
      - source_labels: [ __address__ ]
        regex: '(.*):.*'
        replacement: $1
        target_label: hostname

  - job_name: mysql_exporter
    metrics_path: /proxy
    params:
      module:
        - mysql
    static_configs:
      - targets:
          - 'vps-01:9999'
    relabel_configs:
      - source_labels: [ __address__ ]
        regex: '(.*):.*'
        replacement: $1
        target_label: hostname

  - job_name: process_exporter
    metrics_path: /proxy
    params:
      module:
        - process
    static_configs:
      - targets:
          - 'homelab-pi:9999'
          - 'vps-01:9999'
    relabel_configs:
      - source_labels: [ __address__ ]
        regex: '(.*):.*'
        replacement: $1
        target_label: hostname

  - job_name: node_exporter
    metrics_path: /proxy
    params:
      module:
        - node
    static_configs:
      - targets:
          - 'homelab-pi:9999'
          - 'vps-01:9999'
    relabel_configs:
      - source_labels: [ __address__ ]
        regex: '(.*):.*'
        replacement: $1
        target_label: hostname





#  - job_name: vps-01_mysql-exporter
#    static_configs:
#      - targets: ['127.0.0.1:9104']
#        labels:
#          hostname: vps-01
#    relabel_configs:
#      - source_labels: [__address__]
#        target_label: __param_target
#      - source_labels: [__param_target]
#        target_label: instance
#      - target_label: __address__
#        replacement: localhost:9104




  - job_name: 'smtp_status_tls'
    metrics_path: /probe
    params:
      module: [smtp_starttls]
    static_configs:
      - targets: ['mail.siedlaczek.org.pl']
        labels:
          hostname: vps-01
    relabel_configs:
      # Ensure port is 25, pass as URL parameter
      - source_labels: [__address__]
        regex: (.*)(:.*)?
        replacement: ${1}:587
        target_label: __param_target
      # Make instance label the target
      - source_labels: [__param_target]
        target_label: instance
      # Actually talk to the blackbox exporter though
      - target_label: __address__
        replacement: 127.0.0.1:9116

  - job_name: 'smtp_status'
    metrics_path: /probe
    params:
      module: [smtp_banner]
    static_configs:
      - targets: ['mail.siedlaczek.org.pl']
        labels:
          hostname: vps-01
    relabel_configs:
      # Ensure port is 25, pass as URL parameter
      - source_labels: [__address__]
        regex: (.*)(:.*)?
        replacement: ${1}:25
        target_label: __param_target
      # Make instance label the target
      - source_labels: [__param_target]
        target_label: instance
      # Actually talk to the blackbox exporter though
      - target_label: __address__
        replacement: 127.0.0.1:9116