# CONTACTS

define contact {
    contact_name            karol_siedlaczek         ; Short name of user
    use                     generic-contact          ; Inherit default values from generic-contact template (defined above)
    alias                   Karol Siedlaczek         ; Full name of user
    email                   karol@siedlaczek.org.pl  ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}

define contact {
    contact_name                    snmp-trap-manager
    use                             generic-contact
    service_notification_options    w,u,c,r
    host_notification_options       d,u,r
    service_notification_commands   send_service_trap
    host_notification_commands      send_host_trap
}

# CONTACT GROUPS

define contactgroup {
    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 karol_siedlaczek
}
