[Unit]
Description=wireguard-ui
After=network.target
After=wg-quick@wg0.service
Requires=wg-quick@wg0.service
PartOf=wg-quick@wg0.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ wg.base_path }}
Environment=WGUI_SERVER_LISTEN_PORT="{{ wg.listen_port }}"
Environment=WGUI_SERVER_INTERFACE_ADDRESSES="{{ wg.cidr }}"
Environment=WGUI_SERVER_POST_UP_SCRIPT="{{ wg.scripts_path }}/post-up.sh"
Environment=WGUI_SERVER_POST_DOWN_SCRIPT="{{ wg.scripts_path }}/post-down.sh"
Environment=WGUI_CONFIG_FILE_PATH="/etc/wireguard/wg0.conf"
Environment=WGUI_DNS="{{ wg.dns_host }}"
Environment=SMTP_PASSWORD="{{ smtp.password }}"
ExecStart={{ wg.scripts_path }}/wireguard-ui -bind-address 0.0.0.0:5000 -smtp-hostname {{ smtp.hostname }} -smtp-port {{ smtp.port }} -smtp-username "{{ smtp.username }}" -smtp-auth-type {{ smtp.auth_type }} -smtp-encryption {{ smtp.encryption }} -email-from "{{ smtp.username }}" -email-from-name "{{ wg.email_from_name }}"
ExecReload=/usr/bin/systemctl restart wg-quick@wg0.service

[Install]
RequiredBy=wgui.path