createUser {{ snmp.user }} SHA "{{ snmp.password }}" AES
rouser  {{ snmp.user }}  priv

master          agentx
agentaddress    udp:161,udp6:[::1]:161

extend check_raid           /usr/local/bin/nagios/checks/check_raid.pl
extend check_postfix_queue  /usr/local/bin/nagios/checks/check_postfix_queue.sh -w 1 -c 5